@import '../../utils/variables';

.footer{
  margin:45px 0 0 0;
  width: 100%;
  align-self: flex-end;
  background-color: $mainColor;
  height: 55px;
  display: flex;
  &__container{
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    margin:0 auto;
    font-size: 20px;
  }
}

.copyrigth {
  font-size: 15px;
  color:white;
}